{% block content %} 
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="right_col" role="main">
    <div class="">
          <div class="col-md-6">
           <canvas id="Chart1"></canvas>
             {% comment %} <canvas class="pie" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas> {% endcomment %}
          </div>
    </div>
</div>

{% block javascripts %} 
<script>
$(document).ready(function(){ 
  var ctx = document.getElementById('Chart1').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
        labels: [{% for item in qs %} '{{item.Competence}}',{% endfor %}]
        datasets: [{
          label: 'My First dataset',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {% for item in qs %} {{item.ListLevel}},{% endfor %}
        }]
      },

      // Configuration options go here
      options: {}
    });
});
</script>
{% endblock javascripts %}


{% endblock %}