
{% extends 'app/base_site.html' %}

{% block content %} 
<div class="right_col" role="main">
    <div class="">
      <div class="text-center">
        <h1>hhhhhh</h1>
         <div>
                      <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
    {% comment %} <canvas id="Graph-Comp" data-url="{% url 'GraphComp' %}"></canvas> {% endcomment %}
</div>
      </div>
    </div>
</div>
{% comment %} <div>
    <canvas id="Graph-Comp" data-url="{% url 'GraphComp' %}"></canvas>
</div>{% endcomment %}
{% comment %} {% block javascripts %}
  {{ block.super }}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
<script>

$(function () {

        var ctx = $Graph_Comp[0].getContext("2d");

        new Chart(ctx, {
        type: 'radar',
        data: {
            labels: data.labels,
            datasets: [{
            label: 'Competence',
            backgroundColor: 'blue',
            data: data.data
            }]          
        },
        options: {
            responsive: true,
            legend: {
            position: 'top',
            },
            title: {
            display: true,
            text: 'competence'
            }
        }
        });
var $Graph_Comp = $("#Graph_Comp");
    $.ajax({
    url: $Graph_Comp.data("url"),
    success: function (data) {
    }
    
    });

});

</script> 
{% endblock javascripts %}  {% endcomment %}

    {% endblock %}