{% extends 'app/base_site.html' %}

{% block content %} 
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="">
            <a href="javascript:history.go(-1)">Retour</a>
            {% for profil in profil %}
            {% for user in user %}
            {% if profil.user_id == collaborater.user_id %}
            {% if profil.user_id == user.id %}
                <div class="col-12 text-center">
                    <h1>{{ user.last_name }} {{ user.first_name }}</h1>
                    <h2>{{ profil.society.name }}</h2>
                    <h2>{{ profil.workstation.name }}</h2>
                    {% comment %} <form class="form-inline" action="{% url 'app:DeleteCollab' collaborater_id=collaborater.id %}"  method="post" onclick="return confirm('Etes vous sur de vouloir supprimer {{ collaborater.Lastname }} {{ collaborater.Firstname }} ');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Supprimer le collaborateur</button>
                    </form>  {% endcomment %}
                </div>
                <div class="row border border-success">
                    <div class="col-md-12 text-center text-danger ">
                        <h3>CERTIFICATIONS</h3>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12 text-center ">
                        {% for certification in profil.certification.all %}
                        <li>{{ certification.name}}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 text-center text-danger ">
                        <h3>DOMAINES / COMPÉTENCES</h3>
                    </div>
                </div>
                <div class="row">
                    {% for field in field %}

                    <div class="col-md-12 ">
                        <table class="mb-5 mt-5">
                            <h4 class="text-danger">{{ field.name}}</h4>
                            <tr>
                                <th class="text-warning" scope="col">Compétence</th>
                                <th class="text-warning" scope="col">Niveau</th>
                                <th class="text-warning" scope="col">Intérêt</th>
                            </tr>
                                {% comment %} {% for user in user%}
                                {% if collaborater.user_id == User.id %} {% endcomment %}

                                {% for listcompetence in listcompetence%}
                                {% if listcompetence.User_id == profil.user_id %}

                                {% for competence in competence%}
                                {% if competence.field_id == field.id %}
                                {% if listcompetence.Competence_id == competence.id %}
                                {% for level in level%}
                                {% if listcompetence.ListLevel_id == level.id %}
                                {% for interest in interest%}
                                {% if listcompetence.ListInterest_id == interest.id %}
                                    <tr height="50">
                                        <td width="400" scope="row">
                                            <p>{{ competence.name }}</p>
                                        </td>
                                        <td width="200" scope="row">
                                            <p>{{ level.value }}</p>
                                        </td>
                                        <td width="400" scope="row">
                                            <p>{{ interest.value }}</p>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endif %}
                                {% endfor %}

                                {% endif %}
                                {% endfor %}
                                {% comment %} {% endif %}
                                {% endfor %} {% endcomment %}
                        </table>
                    </div>
                    {% endfor %}
                </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                                        {% endfor %}

                    {% comment %} {% endfor %} {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 


{% comment %} <div class="col-md-12 text-center">
    <p>{{ collaborater.Lastname }} {{ collaborater.Firstname }}</p> {% endcomment %}
    {% comment %} <li>{{ collaborater.competences__name }}</li> {% endcomment %}
    {% comment %} <li>{{ interests_value }}</li> {% endcomment %}
{% comment %} </div> {% endcomment %}


{% comment %} {% for collaborater in collaboraters %} {% endcomment %}
 {% comment %} <p>{{ collaboraters_lastname }} {{ collaboraters_firstname }}</p>
    <li>{{ competences_name }}</li> {% endcomment %}

    {% comment %} <p>{{ interest_name }}</p> {% endcomment %}
{% comment %} {% endfor%} {% endcomment %}




{% comment %} {% for listcompetence in listcompetence%}
                                    {% for competence in competence%}
                                        {% if listcompetence.Collaborater_id == collaborater.id %}
                                            {% if listcompetence.Competence_id == competence.id %}
                                            {% if listcompetence.ListInterest_id == ListInterest.id %}
                                            {% if listcompetence.ListLevel_id == ListLevel.id %}

                                                {% if competence.field_id == field.id %}
                                                <tr height="50">
                                                    <td width="400" scope="row">
                                                        <p>{{ competence.name }}</p>
                                                    </td>
                                                    <td width="400" scope="row">
                                                        <p{{ ListInterest.value }}></p>
                                                    </td>
                                                    <td width="400" scope="row">
                                                        <p>{{ ListLevel.value }}</p>
                                                    </td>
                                                </tr> {% endcomment %}