{% extends 'app/base_site.html' %}

{% block content %} 
<div class="right_col" role="main">
    <div class="">
    <a href="javascript:history.go(-1)">Retour</a>

        <div class="page-title">
            <div class="">
            {% if user.is_authenticated %}
            {% for profil in profil %}
            {% if profil.user_id == user.id%} 
            <div class="border border-dark">
                <div class="col-12 text-center">
                    <h1>{{ user.last_name }} {{ user.first_name }}</h1>
                    <h2>{{ profil.society.name }}</h2>
                    <h2>{{ profil.workstation.name }}</h2>
                </div>
                {% comment %} <td width="200">
                             <form class="form-inline" action="{% url 'app:GraphCollab' user_id=user.id %}"  method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">graph</button>
                            </form> 
                            <hr>
                        </td> {% endcomment %}
                <div class="row border border-success">
                    <div class="col-md-12 text-center text-danger ">
                        <h3>CERTIFICATIONS</h3>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12 text-center ">
                        {% for certification in profil.certification.all %}
                        <li>{{ certification.name}}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="text-center">
                <a class="btn btn-info" role="button" href="{% url 'app:Modifier_des_certifications' profil_id=profil.id %}" >Modifier mes informations générales</a>
                </div>
            </div>
                {% for collaborater in collaborater %}
                {% if profil.user_id == collaborater.user_id  %}
                {% if collaborater.collaborater == True %}

                <div class="row ">
                    <div class="col-md-12 text-center text-danger ">
                        <h3>DOMAINES / COMPÉTENCES</h3>
                    </div>
                </div>
                <div class="row">
                    {% for field in field %}
                    <div class="col-md-12 ">
                        <table class="mb-5 mt-5">
                            <h4 class="text-danger">{{ field.name}}</h4>
                            <tr>
                                <th class="text-warning" scope="col">Compétence</th>
                                <th class="text-warning" scope="col">Niveau</th>
                                <th class="text-warning" scope="col">Intérêt</th>
                            </tr>
                                {% for listcompetence in listcompetence%}
                                {% comment %} {% if collaborater.user_id == user.id %} {% endcomment %}
                                {% if listcompetence.User_id == user.id %}
                                {% for competence in competence%}
                                {% if competence.field_id == field.id %}
                                {% if listcompetence.Competence_id == competence.id %}
                                {% for level in level%}
                                {% if listcompetence.ListLevel_id == level.id %}
                                {% for interest in interest%}
                                {% if listcompetence.ListInterest_id == interest.id %}
                                    <tr height="50">
                                        <td width="400" scope="row">
                                            <p>{{ competence.name }}</p>
                                        </td>
                                        <td width="200" scope="row">
                                            <p>{{ level.value }}</p>
                                        </td>
                                        <td width="400" scope="row">
                                            <p>{{ interest.value }}</p>
                                        </td>
                                        <td width="400" scope="row">
                                            <a class="btn btn-info" role="button" href="{% url 'app:Modifier_des_compétences' listcompetence_id=listcompetence.id %}" >Modifier</a>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% comment %} {% endif %} {% endcomment %}
                                {% endfor %}

                        </table>
                    </div>
                    
                    {% endfor %}
                </div>
                                {% endif %}
                {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
            </div>
        </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="right_col" role="main">
    <div class="">
          <div class="col-md-6">
           <canvas id="Chart1"></canvas>
             {% comment %} <canvas class="pie" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas> {% endcomment %}
          </div>
    </div>
</div>

{% block javascripts %} 
<script>
$(document).ready(function(){ 
  var ctx = document.getElementById('Chart1').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
        labels: [{% for item in qs %} '{{item.Competence}}',{% endfor %}]
        datasets: [{
          label: 'My First dataset',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {% for item in qs %} {{item.ListLevel}},{% endfor %}
        }]
      },

      // Configuration options go here
      options: {}
    });
});
</script>
{% endblock javascripts %}
    </div>
</div>
{% endblock %} 
