{% extends 'app/base_site.html' %}

{% block content %} 

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="text-center">
                <h3>LISTE DES COLLABORATEURS</h3>
                {% include 'app/search_form.html' %}

                <table class="mb-5 mt-5">
                    <tr>
                        <th scope="col">NOM / PRENOM</th>
                        <th scope="col">SOCIETE</th>
                    </tr>
                    {% for collaborater in collaborater %}
                    <tr height="50">
                        <td width="200" scope="row">
                            <p><a href="{% url 'app:Profils' collaborater_id=collaborater.id %}">{{ collaborater.Lastname | upper }} {{ collaborater.Firstname }} </a></p>
                        </td>
                        <td>
                            <p>{{ collaborater.Society }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %} 
