{% extends 'app/base_.html' %}

{% block content %} 

<div class="right_col" role="main">
    <div class="">
    <a href="javascript:history.go(-1)">Retour</a>
        <div class="page-title">
            <div>

                <div class="text-center">
                <h1>LISTE DES UTILISATEURS</h1>
                </div>
                {% comment %} {% include 'app/search_form.html' %} {% endcomment %}
                <table class="mb-5 mt-5">
                    {% comment %} <tr>
                        <th class="text-warning" scope="col">NOM / PRENOM</th>
                        <th class="text-warning" scope="col">SOCIETE</th>
                    </tr> {% endcomment %}
                    {% for user in users %}


                    <tr height="50">
                        <td width="200" scope="row">
                            <p>{{ user.last_name | upper }} {{ user.first_name }}</p>
                            <hr>
                        </td>
                        {% for profil in profil %}
                        {% if user.id == profil.user_id %}
                        <td width="200">
                            <p>{{ profil.society.name }}</p>
                            <hr>
                        </td>
                        {% else %}
                        <p></p> 
                                                {% endif %}{% endfor %}

                        <td width="200">
                            <form class="form-inline" action="{% url 'app:DeleteUser' user_id=user.id %}"  method="post" onclick="return confirm('Etes vous sur de vouloir supprimer {{ user.Lastname }} {{ user.Firstname }} ');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer l'utilisateur</button>
                            </form> 
                            <hr>
                        </td>
                        {% comment %} {% for profil in profil %}
                        {% if user.id == profil.user_id %}

                        <td width="200">
                            <form class="form-inline" action="{% url 'app:Profils' user_id=user.id %}"  method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Voir le profil Collaborateur</button>
                            </form> 
                            <hr>
                        </td>
                        {% else %}
                        <p></p>
                        {% endif %}{% endfor %} {% endcomment %}
                    </tr>
                                                            {% comment %} {% endif %}

                                        {% endfor %} {% endcomment %}

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %} 