{% extends 'app/base_site.html' %}

{% block content %} 

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div>
                <div class="text-center">
                <h1>LISTE DES UTILISATEURS</h1>
                </div>
                {% comment %} {% include 'app/search_form.html' %} {% endcomment %}
                <table class="mb-5 mt-5">
                    {% comment %} <tr>
                        <th class="text-warning" scope="col">NOM / PRENOM</th>
                        <th class="text-warning" scope="col">SOCIETE</th>
                    </tr> {% endcomment %}
                    {% for user in users %}
                    <tr height="50">
                        <td width="200" scope="row">
                            <p>{{ user.Lastname | upper }} {{ user.Firstname }}</p>
                            <hr>
                        </td>
                        {% comment %} <td width="200">
                            <p>{{ collaborater.society.name }}</p>
                            <hr>
                        </td> {% endcomment %}
                        {% comment %} <td width="200">
                            <form class="form-inline" action="{% url 'app:Profils' collaborater_id=collaborater.id %}"  method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Voir le profil</button>
                            </form> 
                            <hr>
                        </td> {% endcomment %}
                        <td width="200">
                            <form class="form-inline" action="{% url 'app:DeleteUser' user_id=user.id %}"  method="post" onclick="return confirm('Etes vous sur de vouloir supprimer {{ user.Lastname }} {{ user.Firstname }} ');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer l'utilisateur</button>
                            </form> 
                            <hr>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %} 